<div class="py-3 bg-dark w-100 bottom-0">
    <div class="row text-white">
        <div class="col-1"></div>
        <div class="col-5">
            <div class="hr__left"></div>
        </div>
        <div class="col-5">
            <div class="hr__right"></div>
        </div>
        <div class="col-1"></div>
    </div>
    <p class="text-center text-white mt-3">© 2023 Bojan Ristevski. All Rights Reserved.</p>
</div>
<style>
    .hr__left {
        height: 3px;
        background-image: linear-gradient(to right, white 0%, #343a40 70%, transparent 100%) !important;
        opacity: 40%;
    }

    .hr__right {
        height: 3px;
        background-image: linear-gradient(to left, white 0%, #343a40 70%, transparent 100%) !important;
        opacity: 40%;
    }
</style>